<div class="container">
  <h2>Edit Comment</h2>
  <form class="controls" action="/edit/<%=@user_posts.id%>" method="POST">
    <input type="text" name="comment" placeholder="comment"><br>
    <input type="submit" value="更新">
  </form>
</div>