
  <div class="controls">
    <form action="/edit/<%=@user_posts.id%>" method="POST">
      <h2>Edit Comment</h2>
      <input type="text" name="comment" placeholder="comment"><br>
      <input type="submit" value="Update">
    </form>
  </div>