<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>search</title>
</head>
<body>
  <h2>検索フォーム</h2>
  <form action="search" method="get">
    <input type="text" name="term" id="term" placeholder="検索ワード" />
    <input type="submit" value="検索" />
  </form>
</body>
</html>