<div class="container">
  <form class="col-lg-5" action="/signin" method="post">
    <div class="controls">
      <div class="form-group">
        <input class="form-control input-lg" type="text" name="name" placeholder="名前を入力"><br>
        <input class="form-control input-lg" type="password" name="password" placeholder="パスワードを入力"><br>
      </div>
      <div class="form-group col-lg-4">
        <input class="form-control col-lg-4" type="submit" value="ログイン">
      </div>
    </div>
  </form>
</div>