<div class="container">
  <form class="controls" action="/signin" method="post">
    <div class="form-group">
      <h2>Sign in</h2>
      <input type="text" name="name" placeholder="enter username"><br>
      <input type="password" name="password" placeholder="enter password"><br>
      <input type="submit" value="Log in">
    </div>
  </form>
</div>